name: Build and Push Docker Image

on:
    push:
        branches: [ "main" ]
    release:
        types: [ published ]

jobs:
    build:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: write

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v5

            -   name: Log in to GitHub Container Registry
                uses: docker/login-action@v3
                with:
                    registry: ghcr.io
                    username: ${{ github.actor }}
                    password: ${{ secrets.GIT_TOKEN }}

            -   name: Extract metadata (tags, labels)
                id: meta
                uses: docker/metadata-action@v5
                with:
                    images: ghcr.io/${{ github.repository }}
                    tags: |
                        type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
                        type=semver,pattern={{version}},prefix=v

            -   name: Build and push Docker image
                uses: docker/build-push-action@v5
                with:
                    context: .
                    push: true
                    tags: ${{ steps.meta.outputs.tags }}
                    labels: ${{ steps.meta.outputs.labels }}